* {
    margin: 0;
    padding: 0;
}

/*     Overdose de Poze
body {
    background-image: url(./Assets/pozeRosto.jpg);
}
*/

:root {
    --position-top: 0%;
    --position-left: 0%;
    --image-dimension-inline: 225px;
    --image-dimension-block: 225px;
}

.div_image {
    width: calc(100% - var(--image-dimension-inline));
    height: calc(100vh - var(--image-dimension-block));
}

.border_image {
    position: relative;
    top: var(--position-top);
    left: var(--position-left);
    object-fit: contain;
}

.speed_button {
    position: absolute;
    top: 45%;
    left: 42%;

    padding: 0.5rem;
    
    border-radius: 1rem;
}

.speed_button span {
    font-size: 1.75rem;
    font-weight: 500;
}

.speed_button:hover {
    color: transparent;
    background-image: url(./Assets/pozePequeno.jpg);
}